.nav {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.logo {
    height: 30px;
    width: auto;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.banner-image {
    width: 750px;
    height: auto;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    width: 200px;
    height: auto;
}