.nav {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: black;
}

.logo {
    height: 30px;
    width: auto;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #DA291C;
    padding: 32px;
}

.banner-image {
    width: 650px;
    height: auto;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

.menu-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    width: 200px;
    height: auto;
}

.testimonial {
    background-color: #FFC72C;
    padding: 32px;
}

.call-to-action {
    padding: 32px;
}

.footer {
    padding: 32px;
}