.nav {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.logo {
    height: 30px;
    width: auto;
}



.banner-image {
    width: 750px;
    height: auto;
}

.menu-item {
    width: 200px;
    height: auto;
}